[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datapackage-pipelines = {extras = ["develop", "speedup"]}
pymarc = "*"
google-api-python-client = "*"
google-auth = "*"
"google-auth-httplib2" = "*"
openpyxl = "*"
flask = "*"
python-slugify = "*"
"737c3a5" = {file = "https://github.com/OriHoch/datapackage-pipelines/archive/dump-to-path-add-support-for-custom-formats.zip"}

[dev-packages]

[requires]
python_version = "3.6"
